<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="mvntst.mvnj.adminFull">
				<methods>
					<exclude name=".*"></exclude>
				</methods>
			</class>
			<class name="mvntst.mvnj.Qualicoach">
				<methods>
					<include name=".*"></include>
				</methods>
			</class>
			<class name="mvntst.mvnj.studentMain">
				<methods>
					<exclude name=".*"></exclude>
				</methods>
			</class>

			<class name="mvntst.mvnj.adminMain">
				<methods>
					<exclude name=".*"></exclude>
				</methods>
			</class>

			<class name="mvntst.mvnj.studentFull">
				<methods>
					<exclude name=".*"></exclude>
				</methods>
			</class>


		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
